
{% extends "base.html" %}
{% block title %} Блог автора {{author.get_full_name}} {% endblock %}
{% block content %}
{% load thumbnail %}
<main role="main" class="container">
        <div class="row">
                <div class="col-md-3 mb-3 mt-1">
                        <div class="card">
                                <div class="card-body">
                                        <div class="h2">
                                        {{ author.get_full_name }}
                                            <!-- Имя автора -->    
                                        </div>
                                        <div class="h3 text-muted">
                                            @{{ author.username }}
                                             <!-- username автора -->
                                        </div>
                                </div>
                                {% if user != author %}
                                <li class="list-group-item">
                                        {% if follow_stat %}
                                        <a class="btn btn-lg btn-light" 
                                                href="{% url 'profile_unfollow' author.username %}" role="button"> 
                                                Отписаться 
                                        </a> 
                                        {% else %}
                                        <a class="btn btn-lg btn-primary" 
                                                href="{% url 'profile_follow' username %}" role="button">
                                        Подписаться 
                                        </a>
                                        {% endif %}
                                    </li>
                                    {% endif %}


                                <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                                <div class="h6 text-muted">
                                                Подписчиков: {{ author.following.count }} <br />
                                                Подписан: {{ author.follower.count }}
                                                </div>
                                        </li>
                                        <li class="list-group-item">
                                                <div class="h6 text-muted">
                                                    <!-- Количество записей -->
                                                    Записей: {{ count_post }}
                                                </div>
                                        </li>
                                </ul>
                        </div>
                </div>


                <div class="col-md-9">                
                    <!-- Начало блока с отдельным постом --> 
                    {% for post in page %}
                    {% include "post_item.html" with post=post %}
                    {% endfor %}
                    <!-- Конец блока с отдельным постом --> 
                    <!-- Остальные посты -->   
                {% if page.has_other_pages %}
                        {% include "paginator.html" with items=page paginator=paginator%}
                {% endif %}
                    <!-- Здесь постраничная навигация паджинатора -->
                    
         </div>
        </div>
        
    </main>
    {% endblock %}